@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 原模板变量 */
  --section-background-color: linear-gradient(
          to bottom left,
          rgba(17, 16, 16, 0.582),
          rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
          to bottom left,
          rgba(17, 16, 16, 0.678),
          rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #486348;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*background: var(--background);*/
  /*color: var(--foreground);*/
  font-family: Arial, Helvetica, sans-serif;
}

/* --- 高亮紫色类 --- */
.purple {
  color: var(--imp-text-color) !important;
}

/* --- 波浪动画 --- */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* --- Typewriter 光标 --- */
.Typewriter__wrapper {
  font-size: 1.5em !important;
  font-weight: 600;
  color: rgba(138, 216, 121, 0.95) !important;
}
.Typewriter__cursor {
  font-size: 1.5em !important;
  color: rgba(130, 235, 132, 0.91) !important;
}

/* --- 滚动条样式 --- */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #295019;
}
::-webkit-scrollbar-thumb {
  background: rgba(138, 216, 121, 0.95);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 235, 188, 0.91);
}

/* --- 预加载隐藏类（给#preloader）--- */
#preloader {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #0c0513;
  background-image: url('/public/pre.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}
#preloader-none {
  opacity: 0;
}
#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* src/app/globals.css */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {

  animation: fade-in-up 1.5s ease-out forwards;
}
